*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  background-color: red;
  width: 25vw;
  height: 80vh;
}

.history{
  background-color: #585657;
  height:30%
}

.button-container{
  background-color: black;
  height: 70%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.button{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #a5a5a5;
  color: white;
  border: none;
  font-size: 20px; 
}

.button:hover{
  opacity: 0.7;
}
.support-color{
  background-color: #866242;
}

.operand-color{
  background-color: #ff9f0a;
}

.double-span{
  grid-column: span 2;
  width: 8rem;
  border-radius: 50px;
}